<div class="login-main">
  <canvas id="canvas" width="96" height="96"></canvas>
<form class="login" action="<%= users_url %>" method="post">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
  <input name="user[email]" type="text" value="Enter your Email"><br>
  <input name="user[password]" type="password" value=""><br>
  <input type="submit" value="Submit"><br>
</form>

</div>
